body {
  display: flex;
  background-image: url("https://images3.alphacoders.com/105/1053268.jpg");
  background-repeat: no-repeat;
  -webkit-background-clip: initial;
  animation: animate 90s ease-in-out infinite;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

@media (max-width: 414px) {
} ;
